### Air quality measurements
* [air-quality-measurements](https://greentechdev.github.io/data/air-quality-measurements/)
* testar greentechdev
  * min [feedback](https://github.com/greentechdev/source/issues/3)

In [1]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
urlbase = "https://datavardluft.smhi.se/52North/api/v1/"
#/timeseries 
url = urlbase + "timeseries"
r = http.request('GET', url) 
data = json.loads(r.data.decode('utf-8'))

In [5]:
df = pd.DataFrame(data)  
df.head()

     id  ... parameters
0  5075  ...         {}
1    33  ...         {}
2    48  ...         {}
3    47  ...         {}
4    49  ...         {}

[5 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4610 entries, 0 to 4609
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4610 non-null   object
 1   label       4610 non-null   object
 2   uom         4610 non-null   object
 3   station     4610 non-null   object
 4   parameters  4610 non-null   object
dtypes: object(5)
memory usage: 180.2+ KB

In [11]:
pd.set_option("display.max.columns", None)
df

,id,label,uom,station,parameters
0,5075,(CH3)2-CH-CH2-CH2-CH3 SPP-SE0004A_00316_100_10...,µg/m3,"{'type': 'Feature', 'id': '4642', 'properties'...",{}
1,33,(CH3)3-C-CH2-CH-(CH3)2 SPP-SE0004A_00449_100_1...,µg/m3,"{'type': 'Feature', 'id': '73', 'properties': ...",{}
2,48,"1,2,3-C6H3(CH3)3 SPP-SE0004A_06012_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '81', 'properties': ...",{}
3,47,"1,2,4-C6H3(CH3)3 SPP-SE0004A_06011_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '80', 'properties': ...",{}
4,49,"1,3,5-C6H3(CH3)3 SPP-SE0004A_06013_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '99', 'properties': ...",{}
...,...,...,...,...,...
4605,5678,"trans-NO SPP-SE159388_07757_100_100, Norunda S...",ng/m2/day,"{'type': 'Feature', 'id': '5039', 'properties'...",{}
4606,5423,"α-DBE-DBCH SPP-FI00427_10259_100_100, Pallas -...",pg/m3,"{'type': 'Feature', 'id': '4791', 'properties'...",{}
4607,5112,"α-DBE-DBCH SPP-SE0014R_10259_100_100, Råö - 46...",pg/m3,"{'type': 'Feature', 'id': '4680', 'properties'...",{}
4608,5424,"β-DBE-DBCH SPP-FI00427_10260_100_100, Pallas -...",pg/m3,"{'type': 'Feature', 'id': '4792', 'properties'...",{}
4609,5113,"β-DBE-DBCH SPP-SE0014R_10260_100_100, Råö - 46...",pg/m3,"{'type': 'Feature', 'id': '4681', 'properties'...",{}

In [20]:
pd.set_option('max_colwidth', None) 
pd.set_option('display.expand_frame_repr', False)  
df.station

0       {'type': 'Feature', 'id': '4642', 'properties': {'id': '4642', 'label': 'Göteborg Femman - 4642'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
1             {'type': 'Feature', 'id': '73', 'properties': {'id': '73', 'label': 'Göteborg Femman - 73'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
2             {'type': 'Feature', 'id': '81', 'properties': {'id': '81', 'label': 'Göteborg Femman - 81'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
3             {'type': 'Feature', 'id': '80', 'properties': {'id': '80', 'label': 'Göteborg Femman - 80'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
4             {'type': 'Feature', 'id': '99', 'properties': {'id': '99', 'label': 'Göteborg Femman - 99'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
                                                                                                 ...
4605     {'type': 'Feature', 'id': '5039', 'properties': {'id': '5039', 'label': 'Norunda Stenen - 5039'}, 'geometry': {'type': 'Point', 'coordinates': [17.5052777714625, 60.0858333349818]}}
4606             {'type': 'Feature', 'id': '4791', 'properties': {'id': '4791', 'label': 'Pallas - 4791'}, 'geometry': {'type': 'Point', 'coordinates': [24.1170005798339, 67.9670028686523]}}
4607                                  {'type': 'Feature', 'id': '4680', 'properties': {'id': '4680', 'label': 'Råö - 4680'}, 'geometry': {'type': 'Point', 'coordinates': [11.9142, 57.3937]}}
4608             {'type': 'Feature', 'id': '4792', 'properties': {'id': '4792', 'label': 'Pallas - 4792'}, 'geometry': {'type': 'Point', 'coordinates': [24.1170005798339, 67.9670028686523]}}
4609                                  {'type': 'Feature', 'id': '4681', 'properties': {'id': '4681', 'label': 'Råö - 4681'}, 'geometry': {'type': 'Point', 'coordinates': [11.9142, 57.3937]}}
Name: station, Length: 4610, dtype: object

In [18]:
pd.set_option('display.expand_frame_repr', False) 
df.parameters

0       {}
1       {}
2       {}
3       {}
4       {}
        ..
4605    {}
4606    {}
4607    {}
4608    {}
4609    {}
Name: parameters, Length: 4610, dtype: object

###  Stations

In [22]:
url = urlbase + "stations"
r = http.request('GET', url) 
dfStations = pd.read_json(r.data.decode('utf-8')) 
dfStations

         type    id                                    properties                                                                geometry
0     Feature  3630      {'id': '3630', 'label': 'Abisko - 3630'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
1     Feature  3631      {'id': '3631', 'label': 'Abisko - 3631'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
2     Feature  3632      {'id': '3632', 'label': 'Abisko - 3632'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
3     Feature  3633      {'id': '3633', 'label': 'Abisko - 3633'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
4     Feature  3634      {'id': '3634', 'label': 'Abisko - 3634'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
...       ...   ...                                           ...                                                                     ...
4362  Feature  1464  {'id': '1464', 'label': 'Övertorneå - 1464'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4363  Feature  1615  {'id': '1615', 'label': 'Övertorneå - 1615'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4364  Feature  1725  {'id': '1725', 'label': 'Övertorneå - 1725'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4365  Feature  3783  {'id': '3783', 'label': 'Övertorneå - 3783'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4366  Feature   953    {'id': '953', 'label': 'Övertorneå - 953'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}

[4367 rows x 4 columns]

In [32]:
url = urlbase + "stations/3630"
r = http.request('GET', url) 
print(r.data)
dfStations3630 = pd.read_json(r.data.decode('utf-8')) 
dfStations3630

b'{"type":"Feature","id":"3630","properties":{"timeseries":{"1015":{"phenomenon":{"id":"2076","label":"pH"},"procedure":{"id":"2255","label":"SPP-SE0093R_02076_100_100"},"category":{"id":"2076","label":"pH"},"offering":{"id":"2255","label":"SPP-SE0093R_02076_100_100"},"feature":{"id":"3630","label":"Abisko - 3630"},"service":{"id":"1","label":"SwedischEPA, SHMI"}}},"id":"3630","label":"Abisko - 3630"},"geometry":{"type":"Point","coordinates":[19.0629997253418,68.3529968261719]}}'

                type    id                                                                                                                                                                                                                                                                                                                                          properties                              geometry
timeseries   Feature  3630  {'1015': {'phenomenon': {'id': '2076', 'label': 'pH'}, 'procedure': {'id': '2255', 'label': 'SPP-SE0093R_02076_100_100'}, 'category': {'id': '2076', 'label': 'pH'}, 'offering': {'id': '2255', 'label': 'SPP-SE0093R_02076_100_100'}, 'feature': {'id': '3630', 'label': 'Abisko - 3630'}, 'service': {'id': '1', 'label': 'SwedischEPA, SHMI'}}}                                   NaN
id           Feature  3630                                                                                                                                                                                                                                                                                                                                                3630                                   NaN
label        Feature  3630                                                                                                                                                                                                                                                                                                                                       Abisko - 3630                                   NaN
type         Feature  3630                                                                                                                                                                                                                                                                                                                                                 NaN                                 Point
coordinates  Feature  3630                                                                                                                                                                                                                                                                                                                                                 NaN  [19.0629997253418, 68.3529968261719]

In [43]:
url = urlbase + "phenomena"
print(url)

r = http.request('GET', url) 
print(r.status,len(r.data))
print(type(r.data.decode('utf-8')))
data = json.load(r.data) 
#data = json.load(r.data.decode('utf-8')) 
print (data)

https://datavardluft.smhi.se/52North/api/v1/phenomena
200 29881
<class 'str'>

AttributeError: 'bytes' object has no attribute 'read'